<% include ../partials/header %>

<% if(typeof errMsg !== 'undefined') {%>
<h3 style = "color:red;"><%=errMsg %>
</h3>
<% } %>
<h1><%= author.name %></h1>
  <form action="/posts/<%= post.id %>?_method=put" method="post">
  		<label for="title">Title:</label>
		<input name="post[title]" autofocus value="<%= post.title %>">
		<br>
		<label for="title">Post:</label>
		<input name="post[post]" value="<%= post.post %>">
		<br>
		<input type="submit" value="Save">
	</form>
<% include ../partials/footer %>